# Dependencies
node_modules/
package-lock.json

# Configuration with sensitive data
config.yaml

# Environment files
.env

# Logs
*.log

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
